.main-section{
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.main-section .flex-column{
  max-width: 500px;
  margin: 0 auto;
}

.flex-row.main-content{
  justify-content: center;
  margin-top: 50px;
  align-items: center;
}